@model BL.Domain.Person

@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/pageStyle.css" rel="stylesheet" type="text/css" />
</head>

<body>
    @if (Model == null)
    {
        <p>Persoon niet gevonden.</p>
    }
    else
    {
        <h1>@Model.Name</h1>
    }

    @using (Html.BeginForm("AddItem", "Page"))
    {
        <input type="text" style="visibility:hidden" name="id" id="id" value="@Model.ItemId" />
        <input type="submit" value="Volg" />
    }

    @Html.ActionLink("Stel alert in", "CreateAlert");
    @Html.ActionLink("Alle personen", "PersonOverview")
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h5>Woorden van deze week</h5>
                </div>
                <div class="panel-body text-center">
                    <canvas id="canvas1"></canvas>
                    <script>
                    var typeChart = '@ViewBag.Charts[0].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@ViewBag.Charts[0].GetLabels());
                    var canvasId = document.getElementById("canvas1").getContext('2d');
                    var dataSets = @Html.Raw(@ViewBag.Charts[0].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                    </script>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h5>Hashtags van deze week</h5>
                </div>
                <div class="panel-body text-center">
                    <canvas id="canvas2"></canvas>
                    <script>
                    var typeChart = '@ViewBag.Charts[1].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@ViewBag.Charts[1].GetLabels());
                    var canvasId = document.getElementById("canvas2").getContext('2d');
                    var dataSets = @Html.Raw(@ViewBag.Charts[1].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 scroll">
            @if (Model.SocialMediaProfiles != null && Model.SocialMediaProfiles.Count() != 0)
            {
                <a class="twitter-timeline" href="https://twitter.com/@Model.SocialMediaProfiles.ToList().Where(smp => smp.Source == "Twitter").First().Url"></a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            }
            else
            {
                <p class="divMiddle">Twitter profiel niet gevonden</p>
            }
        </div>
        <div class="col-sm-6 grafiekBackground">
            <h2>Verhalen</h2>
            @if (ViewBag.Stories != null && Enumerable.Count(ViewBag.Stories) != 0)
            {
                <ul>
                    @foreach (var url in ViewBag.Stories)
                    {
                        <li><a class="url" href="@url">@url</a></li>
                    }
                </ul>
            }
            else
            {
                <p>Geen verhalen gevonden</p>
            }
        </div>
    </div>
</body>
</html>