@using BL.Domain;
@model BL.Domain.Platform

@{
    ViewBag.Title = "Details";
    List<ApplicationUser> admins = ViewBag.Admins;
    
}

<h2>Details Platform</h2>

<div>
    <h4>Platform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt> @Html.DisplayNameFor(model => model.Admins)</dt>
        <dd>
            @foreach (var admin in admins)
            {
                <div>
                    @admin.UserName<hr />
            </div>
        }
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Admin toevoegen", "AddAdmin", new { id = Model.Id }) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>