@using BL.Domain;
@model dynamic

@{
  ViewBag.Title = "Bewerken Platform";
  List<ApplicationUser> admins = new List<ApplicationUser>(ViewBag.Admins);
  Platform platform = ViewBag.Platform;
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <form action="/Platform/Edit" method="post">
            <div class="form-group">
                <h3>Platform</h3>
                <label for="platformid">ID</label>
                <input type="text" class="form-control" name="id" value="@platform.Id" id="platformid" readonly="readonly"/>
                <label for="platformnaam">Platformnaam</label>
                <input type="text" class="form-control" name="platform" value="@platform.Name" id="platformnaam" />
            </div>
            <div class="form-group">
                <h3> Toegewezen Admins</h3>
                <label for="admin"> Admin: </label>
                <select name="admin1" class="selectpicker" id="admin" data-live-search="true">
                    @foreach (ApplicationUser au in admins)
                    { 
                    if (platform.Admins.Contains(au))
                    {
                            <option data-tokens="@au.UserName" selected="selected" value="@au.Id">@au.UserName</option>
                        }
                        else
                        {
                            <option data-tokens="@au.UserName" value="@au.Id">@au.UserName</option>
                        }

                    }
                </select>
            </div>
        </form>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>