@using BL.Domain;
@model dynamic

@{
    ViewBag.Title = "Bewerken Platform";
    List<ApplicationUser> admins = new List<ApplicationUser>(ViewBag.Admins);
    Platform platform = ViewBag.Platform;
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    <form action="/Platform/Edit" method="post">
        <fieldset>

            <input type="hidden" name="id" value="@platform.Id" /><br />

        </fieldset>
        <fieldset>
            <legend>Admin</legend>

            Admin:
            <select id="admin" name="admin">
                @foreach (ApplicationUser adm in admins)
                {
                    if (platform.Admins.Count > 0)
                    {
                        if (adm.Id == platform.Admins.First().Id)
                        {
                            <option selected="selected" value="@adm.Id">@adm.UserName</option>
                        }
                    }
                    <option value="@adm.Id">@adm.UserName</option>
                }
            </select>
        </fieldset>
        <button type="submit" class="btn btn-primary">Wijzigen</button>
    </form>
    @Html.ActionLink("Back to List", "Index")
}