@using BL.Domain;
@model dynamic

@{
  ViewBag.Title = "EditPerson";
  Person p = ViewBag.Person;
  List<Organization> organizations = ViewBag.Organizations;
}

<h2>EditPerson</h2>

@using (Html.BeginForm())
{
<form action="/Item/EditPerson" method="post">
    <fieldset>
        @Html.AntiForgeryToken()
        Id <input type="text" name="id" readonly="readonly" value="@p.ItemId" /><br />
        Name <input type="text" name="name" value="@p.Name" /><br>
    </fieldset>
    <select class="form-control" id="organization" name="organization">
        @foreach (Organization o in organizations)
        {
            <option value="@o.ItemId">@o.Name</option>}
    </select>
    <button type="submit" class="btn btn-primary">Wijzigen</button>
</form>
}


<div>
    @Html.ActionLink("Back to List", "PersonIndex")
</div>

