@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    @Html.AntiForgeryToken()
        @*<ul class="nav navbar-nav navbar-right">*@
        <li class="nav-item">
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })
        </li>
        @*<a class="nav-link" data-toggle="modal" data-target="#exampleModal">*@
        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
    <li class="nav-item">@Html.ActionLink("Logout", "LogOut", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        @*</ul>*@

}
else
{
    @*<ul class="nav navbar-nav navbar-right">*@
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "nav-link" })</li>
    @*</ul>*@
}
