@model politiekeBarometer.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}
<h2>Home</h2>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5>Trending personen van deze week <a href="/Dashboard/MoveToDashboard/@Model.Charts["trendingPersonWeek"].ChartId">(Doorschuiven naar dashboard)</a></h5>
            </div>
            <div class="panel-body text-center">
                <canvas id="@Model.Charts["trendingPersonWeek"].GetCanvasId()"></canvas>
                <script>
                    var typeChart = '@Model.Charts["trendingPersonWeek"].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@Model.Charts["trendingPersonWeek"].GetLabels());
                    var canvasId = document.getElementById("@Model.Charts["trendingPersonWeek"].GetCanvasId()").getContext('2d');
                    var dataSets = @Html.Raw(@Model.Charts["trendingPersonWeek"].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5>Trending personen van deze maand <a href="/Dashboard/MoveToDashboard/@Model.Charts["trendingPersonMonth"].ChartId">(Doorschuiven naar dashboard)</a></h5>
            </div>
            <div class="panel-body text-center">
                <canvas id="@Model.Charts["trendingPersonMonth"].GetCanvasId()"></canvas>
                <script>
                    var typeChart = '@Model.Charts["trendingPersonMonth"].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@Model.Charts["trendingPersonMonth"].GetLabels());
                    var canvasId = document.getElementById("@Model.Charts["trendingPersonMonth"].GetCanvasId()").getContext('2d');
                    var dataSets = @Html.Raw(@Model.Charts["trendingPersonMonth"].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                </script>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5>Trending organisaties van deze week <a href="/Dashboard/MoveToDashboard/@Model.Charts["trendingOrganizationWeek"].ChartId">(Doorschuiven naar dashboard)</a></h5>
            </div>
            <div class="panel-body text-center">
                <canvas id="@Model.Charts["trendingOrganizationWeek"].GetCanvasId()"></canvas>
                <script>
                    var typeChart = '@Model.Charts["trendingOrganizationWeek"].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@Model.Charts["trendingOrganizationWeek"].GetLabels());
                    var canvasId = document.getElementById("@Model.Charts["trendingOrganizationWeek"].GetCanvasId()").getContext('2d');
                    var dataSets = @Html.Raw(@Model.Charts["trendingOrganizationWeek"].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5>Trending organisaties van deze maand <a href="/Dashboard/MoveToDashboard/@Model.Charts["trendingOrganizationMonth"].ChartId">(Doorschuiven naar dashboard)</a></h5>
            </div>
            <div class="panel-body text-center">
                <canvas id="@Model.Charts["trendingOrganizationMonth"].GetCanvasId()"></canvas>
                <script>
                    var typeChart = '@Model.Charts["trendingOrganizationMonth"].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@Model.Charts["trendingOrganizationMonth"].GetLabels());
                    var canvasId = document.getElementById("@Model.Charts["trendingOrganizationMonth"].GetCanvasId()").getContext('2d');
                    var dataSets = @Html.Raw(@Model.Charts["trendingOrganizationMonth"].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                </script>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5>Trending themas van deze week</h5>
            </div>
            <div class="panel-body text-center">
                <canvas id="@Model.Charts["trendingThemeMonth"].GetCanvasId()"></canvas>
                <script>
                    var typeChart = '@Model.Charts["trendingThemeMonth"].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@Model.Charts["trendingThemeMonth"].GetLabels());
                    var canvasId = document.getElementById("@Model.Charts["trendingThemeMonth"].GetCanvasId()").getContext('2d');
                    var dataSets = @Html.Raw(@Model.Charts["trendingThemeMonth"].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                </script>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h5>Trending themas van deze maand</h5>
            </div>
            <div class="panel-body text-center">
                <canvas id="@Model.Charts["trendingThemeMonth"].GetCanvasId()"></canvas>
                <script>
                    var typeChart = '@Model.Charts["trendingThemeMonth"].ChartType.ToString()';
                    var labelsChart = @Html.Raw(@Model.Charts["trendingThemeMonth"].GetLabels());
                    var canvasId = document.getElementById("@Model.Charts["trendingThemeMonth"].GetCanvasId()").getContext('2d');
                    var dataSets = @Html.Raw(@Model.Charts["trendingThemeMonth"].GetDataSets());

                    CreateChart(canvasId, typeChart, labelsChart, dataSets);
                </script>
            </div>
        </div>
    </div>
</div>