@model politiekeBarometer.Models.DashboardModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .grafiek {
        background-color: #ecedee;
        color: black;
        font-size: 20px;
        font-family: sans-serif;
        border-radius: 8px;
        padding: 20px;
        /* This makes things *much* easier */
        box-sizing: border-box;
    }

    .resize-container {
        display: inline-block;
        width: 100%;
        height: 250%;
    }

    #dashboardTitle {
        display: inline-block;
    }
</style>
<h2 id="dashboardTitle">Dashboard</h2>
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addModal">Add Chart</button>
<button id="editButton" type="button" class="btn btn-primary btn-lg">Edit</button>
<script type="text/javascript" src="~/Scripts/Chart.bundle.min.js"></script>
<div class="resize-container">
    @foreach (var chart in Model.Charts)
    {
        //TODO hier code om elke chart in te laden op juiste positie en grootte
        <div id="@chart.ChartId" data-x="@chart.Zone.X" data-y="@chart.Zone.Y" value="@chart.ChartId" class="grafiek resize-drag" style="@chart.GetStyle()">
            <canvas id="@chart.GetCanvasId()"></canvas>
        </div>
        <script>
            
            var dataChart = @chart.GetData();
            var labelsChart = @chart.GetLabels();
        var @chart.GetCanvasId() = document.getElementById("@chart.GetCanvasId()").getContext('2d');
            var myChart = new Chart(@chart.GetCanvasId(), {
                type: 'bar',
                data: {
                    labels: [labelsChart],
                    datasets: [{
                        label: '# of Votes',
                        data: [dataChart],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        </script>
    }
</div>
<!-- Modal -->
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a chart</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form class="form-horizontal" method="post" action="/Dashboard/AddChart">
                <input type="hidden" value="" name="items" id="itemsHidden" />
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="items">Items:</label>
                        <div class="col-sm-10">
                            <select class="selectModal form-control" id="items" name="itemsSelect" onchange="addItem()">
                                <option style="display:none"></option>
                                @{
                                    <optgroup label="Persons">
                                        @foreach (var item in Model.Persons)
                                        {
                                            <option value="@item.ItemId">@item.Name</option>
                                        }                                   @*TODO: hardcoded options weghalen*@
                                    </optgroup>
                                    <optgroup label="Themes">
                                        @foreach (var item in Model.Themes)
                                        {
                                            <option value="@item.ItemId">@item.Name</option>
                                        }
                                    </optgroup>
                                    <optgroup label="Organizations">
                                        @foreach (var item in Model.Organizations)
                                        {
                                            <option value="@item.ItemId">@item.Name</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="type">Type of chart:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="type" name="type">
                                <option value="histogram">Histogram</option>
                                <option value="circle">Circle</option>
                                <option value="line">Line</option>
                                <option value="top">Top</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="value">Which value?</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="value" name="value">
                                <option value="words">Words</option>
                                <option value="persons">Persons</option>
                                <option value="hashtags">Hashtags</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="frequency">Frequency</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="frequency" name="frequency">
                                <option value="hourly">Hourly</option>
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </div>
                    </div>
                    <h4>Added items:</h4>
                    <ul id="itemList"></ul>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="~/Scripts/interact.min.js"></script>
<script src="~/Scripts/dashboard.js"></script>
