@*@model IEnumerable<BL.Domain.ApplicationUser>*@

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .grafiek {
        background-color: #ecedee;
        color: black;
        font-size: 20px;
        font-family: sans-serif;
        border-radius: 8px;
        padding: 20px;
        margin: 30px 20px;
        width: 120px;
        /* This makes things *much* easier */
        box-sizing: border-box;
    }

    .resize-container {
        display: inline-block;
        width: 100%;
        height: 250%;
    }

    #dashboardTitle {
        display: inline-block;
    }
</style>
<h2 id="dashboardTitle">Dashboard</h2>
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#addModal">Add Chart</button>
<button id="editButton" type="button" class="btn btn-primary btn-lg">Edit</button>

<div class="resize-container">
    <div value="1" class="grafiek resize-drag">
        Resize from any edge or corner
    </div>
    @foreach (Chart chart in Model.Dashboard)
    {
        //TODO hier code om elke chart in te laden op juiste positie en grootte
        <div value="@*@chart.ChartId*@" class="grafiek resize-drag">
            Resize from any edge or corner
        </div>
    }
</div>
<!-- Modal -->
<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add a chart</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form class="form-horizontal" action="/action_page.php">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="items">Items:</label>
                        <div class="col-sm-10">
                            <select class="selectModal form-control" id="items" name="items" onchange="addItem()">
                                <option style="display:none"></option>
                                @{
                                    <optgroup label="Persons">
                                        @foreach (var item in ViewBag.Persons)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }                                   @*TODO: hardcoded options weghalen*@
                                        <option value="1">Bart De Wever</option>
                                        <option value="2">Kris Peeters</option>
                                    </optgroup>
                                    <optgroup label="Themes">
                                        @foreach (var item in ViewBag.Themes)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    </optgroup>
                                    <optgroup label="Organizations">
                                        @foreach (var item in ViewBag.Organizations)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    </optgroup>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="type">Type of chart:</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="type" name="type">
                                <option value="histogram">Histogram</option>
                                <option value="circle">Circle</option>
                                <option value="line">Line</option>
                                <option value="top">Top</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="value">Which value?</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="value" name="value">
                                <option value="words">Words</option>
                                <option value="persons">Persons</option>
                                <option value="hashtags">Hashtags</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 labelchart" for="value">Frequency</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="frequency" name="frequency">
                                <option value="hourly">Hourly</option>
                                <option value="daily">Daily</option>
                                <option value="weekly">Weekly</option>
                                <option value="monthly">Monthly</option>
                                <option value="yearly">Yearly</option>
                            </select>
                        </div>
                    </div>
                    <h4>Added items:</h4>
                    <ul id="itemList">
                        
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="AddChart()" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>

    </div>
</div>
<script src="~/Scripts/interact.min.js"></script>
<script src="~/Scripts/dashboard.js"></script>